In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../results/csv/metrics.csv')
# df_time = pd.read_csv('../results/csv/time.csv')

In [11]:
# Set display format to avoid scientific notation, adjust the precision as needed
pd.options.display.float_format = '{:.2f}'.format
df.describe()

,MSE,RMSE,LogRMSE,AbsRel,SqureREL,SSIM,A1,A2,A3,time
count,201.00,201.00,201.00,201.00,201.00,201.00,201.00,201.00,201.00,201.00
mean,0.00,0.02,0.20,0.17,0.01,0.00,0.79,0.95,0.98,0.06
std,0.00,0.01,0.09,0.10,0.01,0.00,0.18,0.09,0.05,0.08
min,0.00,0.00,0.06,0.04,0.00,0.00,0.16,0.55,0.69,0.03
25%,0.00,0.01,0.13,0.10,0.00,0.00,0.69,0.95,0.99,0.04
50%,0.00,0.02,0.18,0.14,0.00,0.00,0.84,0.98,1.00,0.05
75%,0.00,0.02,0.25,0.19,0.01,0.00,0.93,1.00,1.00,0.05
max,0.00,0.05,0.54,0.62,0.04,0.00,1.00,1.00,1.00,0.79